@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes passed {
  0% {
    background-color: white
  } 50% {
    background-color: rgba(0, 200, 0, .3)
  } 100% {
    background-color: white
  }
}

@keyframes failed {
  0% {
    background-color: white
  } 50% {
    background-color: rgba(200, 0, 0, .3)
  } 100% {
    background-color: white
  }
}

@keyframes pulse {
  0% {
    transform: scale(100%);
  } 50% {
    transform: scale(110%);
  } 100% {
    transform: scale(100%);
  }
}

.keys {
  background-color: rgba(100, 100, 100, .1);
}

table, tr {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  padding: 3px;
}
td, th {
  padding: 0px 0px 0px 4px;
  border-left: 1px solid black;
}